In [12]:
# List_Basic.py

list1 = ['physics', 'chemistry', 1997, 2000] #create a list named list1 containing strings and integers.
list2 = [1, 2, 3, 4, 5, 6, 7 ] # create a list named list2 containing integers.
#accessing
print ("list1[0]: ", list1[0]) # Prints the element at index 0 of list1 (which is 'physics').
print ("list2[1:5]: ", list2[1:5]) # Prints a slice of list2 from index 1 up to (but not including) index 5 (which is [2, 3, 4, 5]).
#updating
print ("Value available at index 2 : ") # Prints a string indicating the value at index 2 of list1.
print (list1[2]) # Prints the element at index 2 of list1 (which is initially 1997).
list1[2] = 2001 # Updates the element at index 2 of list1 to the integer 2001.
print ("New value available at index 2 : ") # Prints a string indicating the new value at index 2 of list1.
print (list1[2]) # Prints the element at index 2 of list1 after the update (which is 2001).
#Adding
list1.append(2020)
print("New List:",list1)
#Insert
list1.insert(0, 'Python')
print("After inserting: ",list1)

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
Value available at index 2 :
1997
New value available at index 2 :
2001
New List: ['physics', 'chemistry', 2001, 2000, 2020]
After inserting:  ['Python', 'physics', 'chemistry', 2001, 2000, 2020]

In [13]:
#List_remove.py

#del
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles[1]
print(motorcycles)
#pop
motorcycles = ['honda', 'yamaha', 'suzuki']
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)
first_owned = motorcycles.pop(0)
print("The first motorcycle I owned was a", first_owned)
#remove
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'suzuki']
['honda', 'yamaha']
suzuki
The first motorcycle I owned was a honda
['honda', 'yamaha', 'suzuki']

In [14]:
#Set.py

# joining two sets
set1 = {"a", "b", "c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)
set1.update(set2)
print(set1)

#constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{1, 'a', 2, 3, 'b', 'c'}
{1, 'a', 2, 3, 'b', 'c'}
{'cherry', 'banana', 'apple'}

In [15]:
# compare.py

# compare two list
first = ['cats', 'dogs', 55]
second = ['dogs', 55, 'cats']
print(first==second)

# compare two dictionary, order doesnot matter
first_dict = {'name': 'aaa', 'species': 'human', 'age': 20}
second_dict = {'species': 'human', 'age': 20, 'name': 'aaa'}
print(first_dict==second_dict)

False
True

In [16]:
#dict_for.py

alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}

aliens = [alien_0, alien_1]

#Accessing key,value
for i in aliens:
    for key,value in i.items():
        print("KEY: ", key, "\t", "VALUE :", value)

KEY:  color 	 VALUE : green
KEY:  points 	 VALUE : 5
KEY:  color 	 VALUE : yellow
KEY:  points 	 VALUE : 10

In [17]:
#dictionary.py

# Accessing
dict = {'Name': 'abc', 'Age': 7 }
print ("Name : ", dict['Name'], "\n", "Age :", dict['Age'])

# Updating
dict['Age'] = 20
print("Updated Age :", dict['Age'])

# Adding
dict['Phone_no'] = 123456789
print("After adding the new pair :", dict)

# Deleting
del dict['Phone_no']
print("After deleting phone_no :", dict)

Name :  abc
 Age : 7
Updated Age : 20
After adding the new pair : {'Name': 'abc', 'Age': 20, 'Phone_no': 123456789}
After deleting phone_no : {'Name': 'abc', 'Age': 20}

In [18]:
#replaceNegative.py

original = [8,20, -10, 55, -777]

for i in range(len(original)):
    original[i]=abs(original[i])

print(original)

[8, 20, 10, 55, 777]

In [19]:
#richest.py

income = {'Alice': 90000,
          'Bob': 100000,
          'Jeff': 200000,
          'Apiwat': 999998,
          'Stark': 999999}

highest = max(income, key=income.get)
print("The richest person on earth:", end=' ')
print(highest + ' with $' + str(income[highest]))

lowest = min(income, key=income.get)
print("The person with the lowest income:", end=' ')
print(lowest + ' with $' + str(income[lowest]))

The richest person on earth: Stark with $999999
The person with the lowest income: Alice with $90000

In [2]:
#Tuple.py
courses = ('CS101', 2.0, 3)
courses[1] = 4.0

TypeError: 'tuple' object does not support item assignment

In [20]:
#sortTuple.py

def first(n):
    return n[0]

def sort_list_first(tuples):
    return sorted(tuples, key=first)

print(sort_list_first([(5, 2), (2, 1), (4, 4), (3, 2), (1, 2)]))

[(1, 2), (2, 1), (3, 2), (4, 4), (5, 2)]