In [3]:
# ELIF.py

guess = int(input("Please guess a integer between 1 and 6: "))
randomNumber = 5

if (guess == randomNumber):
    print("Congrats, you got it!")
else:
    print("Oops, goodluck next time!")

Please guess a integer between 1 and 6: 5
Congrats, you got it!

In [4]:
#Numbers.py

print("\nFloat\n")
a=2.2
b=2
c=0.1

print("a + b", a+b)
print("a + c", a+c)
print("a * b", a*b)
print("a ** b", a**b)

Float

a + b 4.2
a + c 2.3000000000000003
a * b 4.4
a ** b 4.840000000000001

In [5]:
#compare.py

first = ['cats', 'dogs', 55]
second = ['dogs', 55, 'cats']
print(first==second)

first_dict = {'name': 'aaa', 'species': 'human', 'age': 20}
second_dict = {'species': 'human', 'age':20, 'name': 'aaa'}
print(first_dict==second_dict)

False
True

In [6]:
# dict_for.py

alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}

aliens = [alien_0, alien_1]

for i in aliens:
    for key, value in i.items():
        print("KEY: ", key, "\t" , "VALUE :", value)

KEY:  color 	 VALUE : green
KEY:  points 	 VALUE : 5
KEY:  color 	 VALUE : yellow
KEY:  points 	 VALUE : 10

In [7]:
#dictionary.py

dict = {'Name': 'abc', 'Age': 7}
print("Name : ", dict['Name'] , "\n", "Age :", dict['Age'])

dict['Age']=20
print("Updated Age :", dict['Age'])

dict['Phone_no']=123456789
print("After adding the new pair :", dict)

del dict['Phone_no']
print("After deleting phone_no : ", dict)

Name :  abc
 Age : 7
Updated Age : 20
After adding the new pair : {'Name': 'abc', 'Age': 20, 'Phone_no': 123456789}
After deleting phone_no :  {'Name': 'abc', 'Age': 20}

In [8]:
#ifControl.py

print("How old are you?")
age = int(input())

if age < 22:
    print("You are too young to have a drink.")

elif age >=80:
    print("Ok, you will get a free drink.")

else:
    print('Sure, enjoy your drink.')

How old are you?
25
Sure, enjoy your drink.

In [9]:
#lowest.py

income = {'Alice': 90000,
          'Bob': 100000,
          'Jeff': 200000,
          'Apiwat': 999998,
          'Stark': 999999

}

lowest = min(income, key=income.get)
print("The lowest income is :", end=' ')
print(lowest + ' with $' + str(income[lowest]))

The lowest income is : Alice with $90000

In [10]:
#replaceNegative.py

original = [8,20, -10, 55, -777]

for i in range(len(original)):
    original[i]=abs(original[i])

print(original)

[8, 20, 10, 55, 777]

In [11]:
#richest.py

income = {'Alice': 90000,
          'Bob': 100000,
          'Jeff': 200000,
          'Apiwat': 999998,
          'Stark': 999999

}

highest = max(income, key=income.get)
print("The richest man on earth:", end=' ')
print(highest + ' with $' + str(income[highest]))

The richest man on earth: Stark with $999999